<ul class="tariff-list">
  <app-filter-tariff-list (sortOptionChanged)="sortTariffs($event)"></app-filter-tariff-list>

  <li *ngFor="let tariff of tariffs" class="tariff-item">
    <div class="tariff-box" >
      <h2>{{ tariff.name }}</h2>

        <div style="display: flex; flex-direction: column;">
          <strong>Download </strong>        
          <i class="fas fa-download"> {{ tariff.downloadSpeed / 1000000 }} Mbps</i>
        </div>

        <div style="display: flex; flex-direction: column;">
          <strong>Upload </strong> 
          <i class="fas fa-upload">{{ tariff.uploadSpeed / 1000000 }} Mbps</i> 
        </div>

        <div class="benefit-list"><strong>Benefit</strong>
          <li *ngFor="let benefit of tariff.benefits" >
            {{benefit}}
          </li>
        </div>

        <div style="display: flex; flex-direction: column;"> 
          <span style="font-weight: 600; padding: 15px;">{{ tariff.price }} € </span>
          <button class="tariff-button">To Tariff  > </button>
        </div>
         
     </div>
  </li>
</ul>


