  <div>
      <div class="filter">
       <app-filter-tariff-list (sortOptionChanged)="sortTariffs($event)"></app-filter-tariff-list>
       <app-filter-by-name (searchChange)="onSearchChange($event)"></app-filter-by-name>
      </div>
    <ul class="tariff-list">
       <li *ngFor="let tariff of tariffs; let i = index" class="tariff-item">
        <div class="tariff-box" >
         <h2 class="tariff-name">{{i + 1}}. {{ tariff.name }}</h2>

         <div class="download-speed">
          <strong>Download </strong>        
          <i class="fas fa-download"> {{ tariff.downloadSpeed / 1000000 }} Mbps</i>
         </div>

         <div class="upload-speed">
          <strong>Upload </strong> 
          <i class="fas fa-upload">{{ tariff.uploadSpeed / 1000000 }} Mbps</i> 
         </div>

         <div class="tablet-device">
          <i class="fas fa-download margin"> {{ tariff.downloadSpeed / 1000000 }} Mbps</i>
          <i class="fas fa-upload">{{ tariff.uploadSpeed / 1000000 }} Mbps</i> 
         </div>

         <div class="mobile-device">
          <i class="fas fa-download margin"> {{ tariff.downloadSpeed / 1000000 }} Mbps</i>
         </div>

         <div class="benefit-list"><strong>Benefit</strong>
          <li *ngFor="let benefit of tariff.benefits" >
            {{benefit}}
          </li>
         </div>

         <div class="buy-tariff"> 
          <span class="tariff-price">{{ tariff.price }} € </span>
          <button class="tariff-button">To Tariff  > </button>
         </div>
         
        </div>
       </li>
    </ul>
</div>
